// @font-face {
//     font-family: "IBM Plex Sans";
//     src: url('/wp-content/themes/canada/assets/font/IBM Plex Sans.ttf') format('truetype');
//     font-style: normal;
// }
@font-face {
    font-family: "outfit-regular";
    src: url("../../../public/assets/fonts/outfit-regular.ttf") format('truetype');
    font-weight: 400;
}

.outfit-regular{
    font-family: "outfit-regular";
}