.container {
  max-width: 1440px;
  padding-left: 160px;
  padding-right: 160px;

  &.container2{
    padding-left: 100px;
    padding-right: 100px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 30px;
    padding-right: 30px;

    &.container2 {
      padding-left: 30px;
      padding-right: 30px;
    }

  }
  
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
    
    &.container2 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.h-vh {
  height: 100vh;
}

// TEXT OVERFLOW CSS
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;

  &>* {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.row8 {
  margin-left: -8px !important;
  margin-right: -8px !important;

  &>* {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
@include media-breakpoint-down(lg) {
  .px-p-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pe-p-0 {
    padding-right: 0 !important;
  }

  .ps-p-0 {
    padding-left: 0 !important;
  }

  .px-p-p {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .mx-m-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .res-w-100 {
    width: 100% !important;
  }

  .res-h-100 {
    height: 100%;
  }

  .res-w-auto {
    width: auto !important;
  }

  .res-h-vh {
    height: 100vh;
  }

  .res-w-fit {
    width: fit-content !important;
  }

  .res-h-fit {
    height: fit-content !important;
  }

  .text-truncate-none {
    text-overflow: initial !important;
    line-clamp: initial !important;
    -webkit-line-clamp: initial !important;
  }
}