.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.why-our-cards {
    padding-left: 33px;
    padding-right: 33px;
    background-color: rgba($color: $color-5C3D38, $alpha: 0.5);

    @include media-breakpoint-down(md) {
        background-color: rgba($color: $color-5C3D38, $alpha: 1);
    }
}

.testimonial-card {
    box-shadow: 0px 0px 15px  #010B182E;
    padding-left: 33px;
    padding-right: 33px;

    @include media-breakpoint-down(md){
        padding-left: 25px;
        padding-right: 25px;
    }

    .quote-mark{
        height: 27px;
    }
}
.three-cards{
    .three-card{
        .three-card-img{
            height: 170px;
        }
    }
}