.contact-form{
    .input{
        height: 62px;
        padding: 0px 35px;
        background-color: rgba(255, 255, 255, 0.1);
        &.placeholder{
            color: $white !important;
        }
        
    }
    .textarea{
        padding: 0px 35px;
        background-color: rgba($color: $white, $alpha: 0.1);
         &.placeholder{
            color: $white !important;
    }
    }
}
