.footer{
    .footer-bottom{
        border-top: 1px solid rgba($color: $white, $alpha: 0.12);
        .footer-icon{
          .f-icon{
             height: 42px;
             width: 42px;
             img{
                width: 18px;
                height: 18px;
             }
          }

        }
    }
}