body {
    background-color: #F6F1E2;
}

.hero-section {
    height: 700px;

    .hero-img {
        height: 670px;
        width: 650px;
    }

    @include media-breakpoint-down(xl) {
        .hero-img {
            height: 550px;
            width: 550px;
        }
    }

    @include media-breakpoint-down(lg) {
        height: 770px;

        .hero-img {
            height: 415px;
            width: 400px;
        }
    }

    @include media-breakpoint-down(md) {
        .hero-img {
            height: 300px;
            width: 300px;
        }
    }
}

.left-right-section {
    .left-right-img {
        height: 563px;

        @include media-breakpoint-down(lg) {
            height: 702px;
        }

        @include media-breakpoint-down(md) {
            height: 350px;
        }
    }

    .right-bg-pattern {
        height: 183px;
        width: 183px;
        bottom: -15%;
        right: -5%;

        @include media-breakpoint-down(lg) {
            right: 0%;
            bottom: -8%;
        }

        @include media-breakpoint-down(md) {
            height: 100px;
            width: 100px;
        }
    }

    .left-bg-pattern {
        height: 132px;
        width: 175px;
        left: -7%;
        bottom: 10%;

        @include media-breakpoint-down(lg) {
            right: 0%;
            left: auto;
            bottom: -3%;
        }

        @include media-breakpoint-down(md) {
            height: 72px;
            width: 115px;
        }
    }
}

.two-panel-section {
    .two-panel-img {
        height: 648px;

        @include media-breakpoint-down(md) {
            height: 380px;
        }

        .two-panel-card {
            padding-left: 58px;
            padding-right: 58px;

            @include media-breakpoint-down(md) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}